<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfigTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfigTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConfigTest.My.MySettings.constr" connectionString="REPLACED"
            providerName="System.Data.SqlClient" />
      <add name="ConfigTest.My.MySettings.constr2" connectionString="INSERTED"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ConfigTest.My.MySettings>
            <setting name="settei1" serializeAs="String">
                <value>REPLACED</value>
            </setting>
            <setting name="settei4" serializeAs="String">
                <value>INSERTED</value>
            </setting>
        </ConfigTest.My.MySettings>
    </applicationSettings>
  <appSettings>
    <add key="appsetting1" value="REPLACED"/>
    <add key="appsetting2" value="INSERTED"/>
  </appSettings>
  <userSettings>
    <ConfigTest.My.MySettings>
      <setting name="settei3" serializeAs="String">
        <value>REPLACED</value>
      </setting>
      <setting name="settei5" serializeAs="String">
        <value>INSERTED</value>
      </setting>
    </ConfigTest.My.MySettings>
  </userSettings>
</configuration>